# Variables

**Variables** are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration of reserve memory space. The declaration happens automatically when you assign a value to a variable.

## Course Outline
- Introduction to Variables
- Declaring anf Assigning Variables
- Naming Conventions
- Understanding variable types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [1]:
a=10

In [2]:
## Declaring and Assigning Variables

age=23
name="John"
height=5.9
is_student=True

## Printing Variables
print('Age:', age)
print('Name:', name)
print('Height:', height)
print('Is Student:', is_student)

Age: 23
Name: John
Height: 5.9
Is Student: True

In [3]:
## Naming Conventions
## variables names should be descriptive.
## They must start with a letter or an underscore (_) and contain letters, numbers, and underscores only.
## Variables names are case-sensitive (e.g., age and Age are different variables).

# Valid variable names
user_name = "Alice"
last_name = "Smith"

In [4]:
## Invalid variable names
# 2age=30
# first-name="Bob"
# @name="Charlie"

In [5]:
## Case Sensitivity
name="John"
Name="Doe"

name == Name  # This will be False

False

In [6]:
## Understanding Variable Types
## Python is dynamically typed, type of a variable is determined at runtime based on the assigned value.
age=25         # Integer
price=19.99    # Float
is_active=True # Boolean
username="user123" # String

print(type(age))        # <class 'int'>
print(type(price))      # <class 'float'>
print(type(is_active))  # <class 'bool'>
print(type(username))   # <class 'str'>

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [7]:
## Type Checking and Conversion
age=30
print(type(age))  # <class 'int'>

age_str=str(age)
print(type(age_str))  # <class 'str'>

<class 'int'>
<class 'str'>

In [8]:
## Dynamic Typing
## Python allows variables to change types during execution.
var=10
print(var, type(var))  # 10 <class 'int'>

# Reassigning to a string
var="Hello"
print(var, type(var))  # Hello <class 'str'>

10 <class 'int'>
Hello <class 'str'>

In [9]:
## input
age=input("Enter your age: ")
print(age, type(age))  # <class 'str'>

12 <class 'str'>

In [10]:
## Simple Calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2 if num2 != 0 else "undefined (division by zero)"
modulus = num1 % num2 if num2 != 0 else "undefined (modulus by zero)"
exponentiation = num1 ** num2
floor_division = num1 // num2 if num2 != 0 else "undefined (floor division by zero)"

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)
print("Floor Division:", floor_division)

Sum: 46.0
Difference: 0.0
Product: 529.0
Quotient: 1.0
Modulus: 0.0
Exponentiation: 2.088046799984791e+31
Floor Division: 1.0

# DataTypes

1. Definition:
   - Data types are classifications of data which tells the compiler or interpreter how the programmer intends to use the data.
   - They determine the operations that can be performed on the data, the value that the data can take, and the amount of memory nedeed to store the data.
2. Importance of Data Types in Programming
   
   Explanation:
   - Data types ensure that data is stored in an efficient way.
   - They help in performing correct operations on data.
   - Proper use of data types can prevent errors and bugs in the program.
  
   COURSE OUTLINE
   1. Introduction to Data Types
   2. Importance of Data Types in Programming
   3. Basic Data Types
      - Integers
      - Floating-Point Numbers
      - Strings
      - Booleans
   4. Advanced Data Types
      - Lists
      - Tuples
      - Dictionaries
      - Sets
   5. Type Conversion
   6. Practical Examples and Exercises

In [11]:
## Integer Example
age = 35
print("Age:", age)
print("Type of age:", type(age))

Age: 35
Type of age: <class 'int'>

In [12]:
## Floating Point Datatypes
height = 5.9
print("Height:", height)
print("Type of height:", type(height))

Height: 5.9
Type of height: <class 'float'>

In [13]:
## String datatypes example
name = "Alice"
print("Name:", name)
print("Type of name:", type(name))

Name: Alice
Type of name: <class 'str'>

In [14]:
## Boolean datatypes example
is_student = False
print("Is Student:", is_student)
print("Type of is_student:", type(is_student))

Is Student: False
Type of is_student: <class 'bool'>

In [15]:
a = 10
b = 10

a == b
type(a == b)

bool

In [16]:
## Coomon Errors
result = 'Hellow' + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = 'Hello' + str(5)
print(result)  # Hello5

Hello5