# DataTypes

1. Definition:
   - Data types are classifications of data which tells the compiler or interpreter how the programmer intends to use the data.
   - They determine the operations that can be performed on the data, the value that the data can take, and the amount of memory nedeed to store the data.
2. Importance of Data Types in Programming
   
   Explanation:
   - Data types ensure that data is stored in an efficient way.
   - They help in performing correct operations on data.
   - Proper use of data types can prevent errors and bugs in the program.
  
   COURSE OUTLINE
   1. Introduction to Data Types
   2. Importance of Data Types in Programming
   3. Basic Data Types
      - Integers
      - Floating-Point Numbers
      - Strings
      - Booleans
   4. Advanced Data Types
      - Lists
      - Tuples
      - Dictionaries
      - Sets
   5. Type Conversion
   6. Practical Examples and Exercises

In [1]:
## Integer Example
age = 35
print("Age:", age)
print("Type of age:", type(age))

Age: 35
Type of age: <class 'int'>

In [2]:
## Floating Point Datatypes
height = 5.9
print("Height:", height)
print("Type of height:", type(height))

Height: 5.9
Type of height: <class 'float'>

In [3]:
## String datatypes example
name = "Alice"
print("Name:", name)
print("Type of name:", type(name))

Name: Alice
Type of name: <class 'str'>

In [4]:
## Boolean datatypes example
is_student = False
print("Is Student:", is_student)
print("Type of is_student:", type(is_student))

Is Student: False
Type of is_student: <class 'bool'>

In [5]:
a = 10
b = 10

a == b
type(a == b)

bool

In [6]:
## Coomon Errors
result = 'Hellow' + 5

TypeError: can only concatenate str (not "int") to str

In [7]:
result = 'Hello' + str(5)
print(result)  # Hello5

Hello5