# Introduction to Lists

- Lists are ordered, mutable (changeable) collections of items.
- They can contain items of different data types, including numbers, strings, and even other lists.

## Course Outline
1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Exercises

In [1]:
lst = []
print(type(lst))

<class 'list'>

In [2]:
name = ["Alice", "Bob", "Charlie", 1, 2, 3, True, False]
print(name)

['Alice', 'Bob', 'Charlie', 1, 2, 3, True, False]

In [3]:
mixed_list = [1, "Hello", 3.14, True, None, [1, 2, 3], (4, 5), {"key": "value"}]
print(mixed_list)

[1, 'Hello', 3.14, True, None, [1, 2, 3], (4, 5), {'key': 'value'}]

In [9]:
### Accessing List Elements
marvel = ["Iron Man", "Thor", "Hulk", "Black Widow"]
print(marvel[0])  # First element
print(marvel[1:]) # From second element to end
print(marvel[1:3]) # Slicing
print(marvel[:2])  # First two elements
print(marvel[2:])  # From third element to end
print(marvel[::2]) # Every second element
print(marvel[::-1]) # Reversed list
print(marvel[-1]) # Last element
print(marvel[-1:-3]) # Empty list

Iron Man
['Thor', 'Hulk', 'Black Widow']
['Thor', 'Hulk']
['Iron Man', 'Thor']
['Hulk', 'Black Widow']
['Iron Man', 'Hulk']
['Black Widow', 'Hulk', 'Thor', 'Iron Man']
Black Widow
[]

In [10]:
## Modifying Lists Elements
marvel[0] = "Captain America"
print(marvel)

['Captain America', 'Thor', 'Hulk', 'Black Widow']

In [13]:
marvel[1:] = "Scarlet Witch"
print(marvel)

['Captain America', 'S', 'c', 'a', 'r', 'l', 'e', 't', ' ', 'W', 'i', 't', 'c', 'h']

In [11]:
marvel[1:3] = ["Hawkeye", "Scarlet Witch"]
print(marvel)

['Captain America', 'Hawkeye', 'Scarlet Witch', 'Black Widow']

In [17]:
## List Methods
fruits = ["apple", "banana", "cherry"]
fruits.append("orange") # Add to the end
print(fruits)
fruits.insert(1, "kiwi") # Add at index 1
print(fruits)
fruits.remove("banana") # Remove by value
print(fruits)
fruits.pop() # Remove last item
print(fruits)
fruits.sort() # Sort the list
print(fruits)
fruits.reverse() # Reverse the list
print(fruits)
print(fruits.index("cherry")) # Find index of an item
print(fruits.count("apple")) # Count occurrences of an item
fruits.clear() # Clear the list
print(fruits)

['apple', 'banana', 'cherry', 'orange']
['apple', 'kiwi', 'banana', 'cherry', 'orange']
['apple', 'kiwi', 'cherry', 'orange']
['apple', 'kiwi', 'cherry']
['apple', 'cherry', 'kiwi']
['kiwi', 'cherry', 'apple']
1
1
[]

In [19]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5]) # Elements from index 2 to 4
print(numbers[:4])  # First four elements
print(numbers[5:])  # Elements from index 5 to end
print(numbers[::2]) # Every second element
print(numbers[::-1]) # Reversed list
print(numbers[-3:]) # Last three elements

[3, 4, 5]
[1, 2, 3, 4]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[8, 9, 10]

In [22]:
## Iterating Over Lists
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
apple
banana
cherry

In [21]:
## Iterating with index
for index, fruit in enumerate(fruits):
    print(f"Index: {index}, Fruit: {fruit}")

Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry

In [23]:
## List Comprehensions
let = []
for x in range(10):
    let.append(x**2)
print(let)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
[x**2 for x in range(10)] # List of numbers from 0 to 9

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## List Comprehensions Syntax

Basics syntax         [expression for item in iterable if condition]

with condition logic  [expression for item in iterable if condition]

Nested list comprehensions [expression for item1 in iterable1 if condition1 for item2 in iterable2 if condition2 ...]

In [26]:
### Basic List Comprehensions Syntax
## Basics syntax         [expression for item in iterable if condition]

squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
### List Comprehensions with condition logic
## with condition logic  [expression for item in iterable if condition]

let=[]
for i in range(10):
    if i % 2 == 0:
        let.append(i)
print(let)

[0, 2, 4, 6, 8]

In [29]:
[num for num in range(10) if num % 2 == 0] # List of even numbers from 0 to 9

[0, 2, 4, 6, 8]

In [33]:
### Nested List Comprehensions
lst1 = [1, 2, 3]
lst2 = ['a', 'b', 'c']
pairs = [(x, y) for x in lst1 for y in lst2]
print(pairs)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [30]:
### Nested List Comprehensions
## Nested list comprehensions [expression for item1 in iterable1 if condition1 for item2 in iterable2 if condition2 ...]

pairs = [(x, y) for x in range(3) for y in range(3) if x != y]
print(pairs)

[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

In [34]:
### List Comprehensions with function calls
def square(x):
    return x * x

squared_numbers = [square(x) for x in range(10)]
print(squared_numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]