# SQL AND SQLite

SQL(Structure Query Language) is a standard language used to communicate with and manipulate databases. SQLite is a lightweight, disk-based database that doesn't require a separate server process and allows access to the database using a nonstandard variant of the SQL query language.

In [1]:
import sqlite3

In [2]:
## connect to an sqlite database
connection = sqlite3.connect('my_database.db')
connection

In [3]:
cursor = connection.cursor()

In [ ]:
## Create a table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS  employees(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT
    )                      
''')

## Commit the changes
connection.commit()

In [ ]:
## Insert the data in the sqllite table
cursor.execute('''
    INSERT INTO employees (name, age, department)
    VALUES ('John Doe', 30, 'HR')
''')

## Commit the changes
connection.commit()

In [7]:
## Query the data
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'John Doe', 30, 'HR')
(2, 'John Doe', 30, 'HR')

In [8]:
## Upadte the data
cursor.execute('''
    UPDATE employees
    SET age = 31
    WHERE name = 'John Doe'
''')

## Commit the changes
connection.commit()

In [9]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'John Doe', 31, 'HR')
(2, 'John Doe', 31, 'HR')

In [10]:
## Delete the data
cursor.execute('''
    DELETE FROM employees
    WHERE name = 'John Doe'
''')

## Commit the changes
connection.commit()

In [11]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

In [12]:
## Create a table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS  employees(
        id INTEGER PRIMARY KEY,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT
    )                      
''')

## Commit the changes
connection.commit()

In [15]:
cursor.execute(
    '''
    INSERT INTO employees (name, age, department)
    VALUES ('John Doe', 30, 'HR')
    '''
)

cursor.execute(
    '''
    INSERT INTO employees (name, age, department)
    VALUES ('Jane Smith', 25, 'IT')
    '''
)

cursor.execute(
    '''
    INSERT INTO employees (name, age, department)
    VALUES ('Mike Johnson', 40, 'Finance')
    '''
)

## Commit the changes
connection.commit()

In [16]:
cursor.execute('SELECT * FROM employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'John Doe', 30, 'HR')
(2, 'Jane Smith', 25, 'IT')
(3, 'Mike Johnson', 40, 'Finance')

In [20]:
## close the connection
connection.close()

In [21]:
## Working with sales data
## Connect to an SQLite database
connection = sqlite3.connect('sales_database.db')
cursor = connection.cursor()

## Create a sales table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales(
        id INTEGER PRIMARY KEY,
        product_name TEXT NOT NULL,
        quantity INTEGER,
        price REAL,
        sale_date TEXT
    )                      
''')

## Commit the changes
connection.commit()

In [18]:
## Insert data into the table
cursor.execute('''
    INSERT INTO sales (product_name, quantity, price, sale_date)
    VALUES ('Laptop', 2, 1200.50, '2024-01-15')
''')

cursor.execute(
    '''
    INSERT INTO sales (product_name, quantity, price, sale_date)
    VALUES ('Smartphone', 5, 800.00, '2024-01-16')
    '''
)

cursor.execute(
    '''
    INSERT INTO sales (product_name, quantity, price, sale_date)
    VALUES ('Tablet', 3, 450.75, '2024-01-17')
    '''
)

cursor.execute(
    '''
    INSERT INTO sales (product_name, quantity, price, sale_date)
    VALUES ('Headphones', 10, 150.25, '2024-01-18')
    '''
)

connection.commit()

In [23]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Laptop', 2, 1200.5, '2024-01-15')
(2, 'Smartphone', 5, 800.0, '2024-01-16')
(3, 'Tablet', 3, 450.75, '2024-01-17')
(4, 'Headphones', 10, 150.25, '2024-01-18')