# Loops

## Course Outline
1. Introduction to loops
2. For loops
   - iterating over a range
   - iterating over a string
3. While loops
4. Loop control statements
   - break
   - continue
   - pass
5. Nested loops
6. Practical examples

In [ ]:
## for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
range(1, 10, 2) # start, stop, step

range(1, 10, 2)

In [3]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [4]:
for i in range(10, 1, -2):
    print(i)

10
8
6
4
2

In [5]:
## Strings and loops
for char in "Hello":
    print(char)

H
e
l
l
o

In [8]:
## While loop
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [9]:
count = 0;
while count % 2 == 0:
    print(count)
    count += 1

0

In [10]:
## Loop control statements
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [1]:
## Continue
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [4]:
## pass
for i in range(5):
    if i == 3:
        print("The Number is :", i)
        pass
    print(i)

0
1
2
The Number is : 3
3
4

In [6]:
## nested loops
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

In [8]:
## Example
## Calculate the sum of first n natural numbers using a while loop
n = 10
sum_n = 0
count = 1
while count <= n:
    sum_n += count
    count += 1
print(f"The sum of first {n} natural numbers is: {sum_n}")

The sum of first 10 natural numbers is: 55

In [9]:
## Example
## Calculate the sum of first n natural numbers using a nested for loop
n = 10
sum_n = 0
for i in range(1, n + 1):
    sum_n += i
print(f"The sum of first {n} natural numbers is: {sum_n}")

The sum of first 10 natural numbers is: 55

In [10]:
## Example: Prime number between 1 to 100
for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97