# Handling Imbalanced Dataset

1. Up sampling
2. Down sampling

In [1]:
import numpy as np
import pandas as pd

#set the random seed for reproductibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9 # 90% of samples belong to class 0
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0, n_class_1

(900, 100)

In [3]:
## Create my dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature2': np.random.normal(loc=5, scale=2, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=3, scale=1, size=n_class_1),
    'feature2': np.random.normal(loc=8, scale=2, size=n_class_1),
    'target': [1] * n_class_1
})

In [4]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [5]:
df.head()

   feature1  feature2  target
0 -1.085631  6.102604       0
1  0.997345  5.839178       0
2  0.282978  8.631304       0
3 -1.506295  4.494499       0
4 -0.578600  4.415992       0

In [6]:
df.tail()

     feature1  feature2  target
995  2.376371  9.691402       1
996  3.239810  5.760155       1
997  2.131760  7.281407       1
998  3.902006  4.780610       1
999  3.697490  8.027140       1

In [7]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [8]:
## Upsampling
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [9]:
from sklearn.utils import resample

df_minority_upsampled = resample(df_minority, replace=True, # sample with replacement
                                 n_samples=len(df_majority), 
                                 random_state=42
                                 )

In [10]:
df_minority_upsampled.shape

(900, 3)

In [11]:
df_minority_upsampled.head()

     feature1   feature2  target
951  2.125854   7.687833       1
992  3.196570   6.794850       1
914  2.932170   9.996106       1
971  3.272825  10.068393       1
960  3.870056   7.100971       1

In [12]:
df_unsampled = pd.concat([df_majority, df_minority_upsampled])

In [13]:
df_unsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down sampling

In [14]:
import numpy as np
import pandas as pd

#set the random seed for reproductibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9 # 90% of samples belong to class 0
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

## Create my dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature2': np.random.normal(loc=5, scale=2, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=3, scale=1, size=n_class_1),
    'feature2': np.random.normal(loc=8, scale=2, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [15]:
## Down-sampling
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [16]:
from sklearn.utils import resample

df_majority_downsampled = resample(df_majority, replace=False, # sample without replacement
                                 n_samples=len(df_minority), 
                                 random_state=42
                                 )

In [17]:
df_majority_downsampled.shape

(100, 3)

In [18]:
df_downSampled = pd.concat([df_majority_downsampled, df_minority])

In [20]:
df_downSampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64